@font-face {
    font-family: "October";
    src: url("/October.ttf");
}

body {
    background-color: #B81328;
    font-family: "October";
    margin: 0;
    padding: 0;
}

.menu-bar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 3;
    font-family: "October Compressed H+L Heavy";
    position: fixed;
}

.menu-btn {
    font-size: 20px;
    cursor: pointer;
    z-index: 4;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fffbdd;
    transition: background-color 0.3s ease;
    margin-right: 15px;
}

.menu-btn:active {
    background-color: transparent;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fffbdd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 3;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar.active {
    opacity: 1;
    visibility: visible;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin-top: 23px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
    font-family: "October";
}

.navbar ul li a:hover {
    color: #B81328;
}

.hero-section {
    display: flex; /* Gør .hero-section til en flex container */
    justify-content: center; /* Centrer indholdet vandret */
    align-items: center; /* Centrer indholdet lodret */
    position: relative;
    width: 100%;
    height: auto;
    position: fixed;
}

.hero-section img {
    /* Fjern tidligere positionering */
    width: 100%;
    max-width: 600px; /* Tilføjet maksimal bredde */
    height: auto;
    z-index: 1;
}



.order-btn {
    position: fixed;
    bottom: 58px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 200px;
    margin-bottom: 100px;
}

.order-btn button {
    font-size: 30px;
    padding: 20px 50px;
    background-color: #fffbdd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
    font-family: "October";
}

.order-btn button:hover {
    background-color: #fffbdd;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fffbdd;
    padding: 3px 0;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
}

/* Tilføjet styling til logo */
.logo img {
    max-width: 85px;
    height: auto;
    margin-left: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pizza-box {
    width: 250px; /* Juster bredden efter behov */
    padding: 10px;
    margin: 10px auto; /* Centrerer boksen vandret */
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fffbdd;
    display: flex;
    justify-content: space-between; /* Placerer elementerne jævnt mellemrumt */
    align-items: center;
}

.pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza-info {
    flex: 1;
    padding-left: 10px; /* Juster afstanden fra billedet til teksten */
    text-align: left;
}

.pizza img {
    max-width: 100px;
    height: auto;
    padding-left: 30px;
}

.pizza .add-button {
    font-size: 24px;
    background-color: #fffbdd;
    color: black;
    border: none;
    border-radius: 5px; /* Gør knappen mere firkantet */
    width: 30px; /* Juster bredden */
    height: 30px; /* Juster højden */
    margin-right: 10px; /* Tilføj margin til højre */
}




